<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyLittleBlueShop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css" integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">

</head>

<body class="photo_suppliers_login_background">

    <h1 class="screen-center" style="color:yellow;">Sign into your supplier account</h1>

    <div class="container-fluid">
        <form action="/supplier-login-page/try-supplier-login" method="post">

          {% if user_correctly_created_msg!="" %}

          <div class="form-row m-3 justify-content-center">
            <div class="col-5 mt-3">
                <h3 style="color:yellow; text-center">{{user_correctly_created_msg}}</h3>
            </div>
          </div>

          {% endif %}

          {% if incorrect_company_name!="" %}

          <div class="form-row m-3 justify-content-center">
            <div class="col-4 mt-3">
                <p style="color:yellow;">{{incorrect_company_name}}</p>
            </div>
          </div>

          {% endif %}

          <div class="form-row m-3 justify-content-center">
            <div class="col-4">
              <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        N
                    </span>
                  </div>
                  <input type="text" name="supplier_company_name" class="form-control" placeholder="Company name" aria-label="Username" aria-describedby="basic-addon1">
              </div>
            </div>
          </div>

          {% if incorrect_password!="" %}

          <div class="form-row m-3 justify-content-center">
            <div class="col-4 mt-3">
                <p style="color:yellow;">{{incorrect_password}}</p>
            </div>
          </div>

          {% endif %}

          <div class="form-row m-3 justify-content-center">
            <div class="col-4">
              <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-lock2" viewBox="0 0 16 16">
                          <path d="M8 5a1 1 0 0 1 1 1v1H7V6a1 1 0 0 1 1-1zm2 2.076V6a2 2 0 1 0-4 0v1.076c-.54.166-1 .597-1 1.224v2.4c0 .816.781 1.3 1.5 1.3h3c.719 0 1.5-.484 1.5-1.3V8.3c0-.627-.46-1.058-1-1.224z"/>
                          <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                        </svg>
                    </span>
                  </div>
                  <input type="password" name="tried_password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
              </div>
            </div>
          </div>
          <div class="form-row m-3 justify-content-center">
            <div class="col-1 ml-5">
              <button type="submit" class="btn btn-primary">Log in</button>
            </div>
          </div>
          <div class="form-row m-3 justify-content-center">
            <div class="col-2">
            </div>
            <div class="col-2">
              <a href="/create-new-user"><p class="text-right" style="color: yellow;">Create new user</p></a>
            </div>
          </div>
        </form>
    </div>


</body>
</html>